.button{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  input[type="submit"]:hover {
    background-color: #00ff0d;
  }


  input[type="text"]{
    border-radius: 6px
  }
  